{% extends 'myapp/layouts/base.html' %}
{% load static %}
{% block title %} Profile {% endblock title %}

{% block content %}

<div class="header pb-6 d-flex align-items-center" 
     style='min-height: 500px; background-image: url("{% static "myapp/panel_and_login/static/assets/img/theme/profile-cover.jpg" %}"); background-size: cover; background-position: center top;'>
  <!-- Mask -->
  <span class="mask bg-gradient-default opacity-8" style = 'background: linear-gradient(87deg, #8965e0 0, #172b4d 100%) !important'></span>
  <!-- Header container -->
  <div class="container-fluid d-flex align-items-center">
    <div class="row">
      <div class="col-lg-7 col-md-10">
        <h1 class="display-2 text-white"> 
          Hello {{ request.user.username }}
        </h1>
        <p class="text-white mt-0 mb-5">This is your profile page. You can see the progress you've made with your work and manage your projects or assigned tasks</p>
        <a href="#about" class="btn btn-neutral">Create finance settlement</a>
      </div>
    </div>
  </div>
</div>
<!-- Page content -->
<div class="container-fluid mt--6">
  <div class="row" style = 'display: block;'>
    <div class="col-xl-8 order-xl-1" style = 'max-width: 100%;'>
      <div class="card">
        <div class="card-header">
          <div class="row align-items-center">
            <div class="col-8">
              <h3 class="mb-0">Make Finanace settlement</h3>
            </div>
            <!-- <div class="col-4 text-right">
              <a href="#!" class="btn btn-sm btn-primary">Settings</a>
            </div> -->
          </div>
        </div>
        <div class="card-body">
          <form method='post' id = 'my-form'>
            {% csrf_token %}
            {{ formset.management_form }}
            <h6 class="heading-small text-muted mb-4">Information of identity name</h6>
            <div class="pl-lg-4">
              <div class="row">
                {% for i in form %}
                {% if i.label == 'financial_identity_name' %}

                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-username">Financial identity name</label>
                    <input type="text" required maxlength="500"  id="id_financial_identity_name_form" name="financial_identity_name_form" class="form-control" placeholder="Financial name" value="">
                  </div>
                </div>
                {% endif %}
                {% endfor %}

                {% for i in form %}
                {% comment %}{% if i.prefix == 'form-0' and i.net_profit_form %}{% endcomment %}
                {% if i.label == 'net_profit' %}
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-email">Net profit</label>
                    <input type="number" required  id="id_net_profit_form" name='net_profit_form' class="form-control" placeholder="Net profit">
                  </div>
                </div>
                {% endif %}
                {% endfor %}

              </div>
              <div class="row">
                {% for i in form %}
                {% if i.label == 'total_attachment' %}
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-first-name">Total attachment</label>
                    <input type="number" required  id="id_total_attachment_form" name='total_attachment_form' class="form-control" placeholder="Total attachment">
                  </div>
                </div>
                {% endif %}
                {% endfor %}

              </div>
            </div>
            <hr class="my-4" />
            <!-- Address -->
            <h6 class="heading-small text-muted mb-4">operating expenses</h6>
            <div class="pl-lg-4" id = 'infinite-inputs' style='padding: 0 !important;'>
              <div class="row infinite-input-form" style = 'border: 1px solid lightgray; border-radius: 10px; margin-bottom: 20px; box-shadow: lightgray 5px 5px 20px 0px ;'>
                <div class="col-md-12">
                  <div class="form-group">
                    <label class="form-control-label" for="input-address">Name operating</label>
                    <input id="id_form-0-name_operating_expense" required  name="form-0-name_operating_expense" class="form-control " placeholder="Name operating expense" type="text">
                  </div>
                </div>

                <div class="col-lg-4">
                  <div class="form-group">
                    <label class="form-control-label" for="input-city">Operating_expense</label>
                    <input id="id_form-0-operating_expens" required  name="form-0-operating_expens" class="form-control " placeholder="Name operating expense" type="text">
                  </div>
                </div>
              </div>
            </div>
            <button type="button" id="add-input-btn" class="btn btn-neutral" style='left: left;'>Add operating expense</button>
            <input type="submit" value='Confirm' class="btn btn-neutral" style='float: right;'>
          </form>
          <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
          <script>
            document.getElementById('add-input-btn').addEventListener('click', function (e) {
              e.preventDefault();
              var formset = document.getElementById('infinite-inputs');
              var totalForms = formset.querySelectorAll('.infinite-input-form').length;
              var inputs_total_forms = document.getElementById('id_form-TOTAL_FORMS');
              inputs_total_forms.value = totalForms+1

              var newForm = formset.firstElementChild.cloneNode(true);
              // Update the prefix for form elements to ensure uniqueness
              var newPrefix = 'form-' + totalForms;
              var inputs = newForm.getElementsByTagName('input');
              var selects = newForm.getElementsByTagName('select');
              for (var i = 0; i < inputs.length; i++) {
                inputs[i].name = inputs[i].name.replace(/form-\d/, newPrefix);
                inputs[i].id = inputs[i].id.replace(/form-\d/, newPrefix);
              }
              formset.appendChild(newForm);
            });
          </script>
        </div>
      </div>
    </div>
  </div>

  {% include "myapp/includes/footer.html" %}

</div>

{% endblock content %}

<!-- Specific JS goes HERE --> 
{% block javascripts %}{% endblock javascripts %}
