{% extends 'myapp/layouts/base.html' %}
{% load static %}
{% block title %} Tables {% endblock title %}

{% block content %}
  <style type="text/css">.table th, .table td{padding: 1rem 2.5rem 1rem 2.5rem;} .form-control{width: 25%;} </style>
  <div class="header bg-primary pb-6">
    <div class="container-fluid">
      <div class="header-body">
        <div class="row align-items-center py-4">
          <div class="col-lg-6 col-7">
            <h6 class="h2 text-white d-inline-block mb-0">User Find</h6>
            <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
              <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
                <li class="breadcrumb-item"><a href="#"><i class="fas fa-home"></i></a></li>
                <li class="breadcrumb-item"><a href="#">Find Profile</a></li>
                <li class="breadcrumb-item active" aria-current="page"></li>
              </ol>
            </nav>
          </div>
          <div class="col-lg-6 col-5 text-right">
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <!-- Page content -->
  <div class="container-fluid mt--6">
    <div class="row">
      <div class="col">
        <div class="card">
          <!-- Card header -->
          <form method='post' class="card-header border-0">
            {% csrf_token %}
            {% for i in search_user%}
             <input required id='id_username_search_form' name='username_search_form' class="form-control" style="border-width: 0" placeholder="Search users...">
            {% endfor %}
          </form>
          <!-- Light table -->
          <div class="table-responsive">
            <table class="table align-items-center table-flush">
              <thead class="thead-light">
                <tr>
                  <th scope="col" class="sort" data-sort="name">Username</th>
                  <th scope="col" class="sort" data-sort="net_profit"></th>
                  <th scope="col" class="sort" data-sort="total_attachment"></th>
                  <th scope="col" class="sort" data-sort="status"></th>
                  <th scope="col" class="sort" data-sort="Net income percentage"></th>
                  <th scope="col"></th>
                </tr>
              </thead>
              <tbody class="list">
                {% for i in users %}
                <tr data-id = '{{ i.id }}' class = 'table_element'>
                  <th scope="row">
                    <div class="media align-items-center">
                      <a href="#" class="avatar rounded-circle mr-3">
                        <img alt="Image placeholder" src="{% static 'myapp/panel_and_login/assets/img/theme/bootstrap.jpg' %}">
                      </a>
                      <div class="media-body">
                        <span class="name mb-0 text-sm">{{i.username}}</span>
                      </div>
                    </div>
                  </th>
                  <td class="budget">
                  </td>
                  <td class="budget">
                  </td>
                  <td>
                    <span class="badge badge-dot mr-4">
                    </span>
                  </td>
                  <td>
                    <div class="d-flex align-items-center">
                    </div>
                  </td>
                  <td class="text-right">
                    <div class="dropdown">
                      <a class="btn btn-sm btn-icon-only text-light" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fas fa-ellipsis-v"></i>
                      </a>
                      <div class="dropdown-menu dropdown-menu-right dropdown-menu-arrow">
                        <a class="dropdown-item" href="{% url 'profile_users' slug_username=i.username %}">Deteils...</a>
                      </div>
                    </div>
                  </td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
         
          
        </div>
      </div>
    </div>

    {% include "myapp/includes/footer.html" %}

  </div>
   <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

{% endblock content %}

<!-- Specific JS goes HERE --> 
{% block javascripts %}{% endblock javascripts %}
