{% extends 'myapp/layouts/base.html' %}
{% load static %}
{% block title %} Tables {% endblock title %}

{% block content %}
  <style type="text/css">.table th, .table td{padding: 1rem 2.5rem 1rem 2.5rem;}</style>
  <div class="header bg-primary pb-6">
    <div class="container-fluid">
      <div class="header-body">
        <div class="row align-items-center py-4">
          <div class="col-lg-6 col-7">
            <h6 class="h2 text-white d-inline-block mb-0">Tables</h6>
            <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
              <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
                <li class="breadcrumb-item"><a href="#"><i class="fas fa-home"></i></a></li>
                <li class="breadcrumb-item"><a href="#">Tables</a></li>
                <li class="breadcrumb-item active" aria-current="page"></li>
              </ol>
            </nav>
          </div>
          <div class="col-lg-6 col-5 text-right">
            <a href="{% url 'create_finance_settlement' %}" class="btn btn-sm btn-neutral">New</a>
            <!-- <a href="#" class="btn btn-sm btn-neutral">Filters</a> -->
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <!-- Page content -->
  <div class="container-fluid mt--6">
    <div class="row">
      <div class="col">
        <div class="card">
          <!-- Card header -->
          <div class="card-header border-0">
            <h3 class="mb-0">Light table</h3>
          </div>
          <!-- Light table -->
          <div class="table-responsive">
            <table class="table align-items-center table-flush">
              <thead class="thead-light">
                <tr>
                  <th scope="col" class="sort" data-sort="name">Project</th>
                  <th scope="col" class="sort" data-sort="net_profit">Net income</th>
                  <th scope="col" class="sort" data-sort="total_attachment">Total attachment</th>
                  <th scope="col" class="sort" data-sort="status">Status</th>
                  <th scope="col" class="sort" data-sort="Net income percentage">Net income percentage</th>
                  <th scope="col"></th>
                </tr>
              </thead>
              <tbody class="list">
                {% for i in financesettlement %}
                <tr data-id = '{{ i.id }}' class = 'table_element'>
                  <th scope="row">
                    <div class="media align-items-center">
                      <a href="#" class="avatar rounded-circle mr-3">
                        <img alt="Image placeholder" src="{% static 'myapp/panel_and_login/assets/img/theme/bootstrap.jpg' %}">
                      </a>
                      <div class="media-body">
                        <span class="name mb-0 text-sm">{{i.financial_identity_name}}</span>
                      </div>
                    </div>
                  </th>
                  <td class="budget">
                    ${{i.net_profit}} USD
                  </td>
                  <td class="budget">
                    ${{i.total_attachment}} USD
                  </td>
                  <td>
                    <span class="badge badge-dot mr-4">
                      <i class="bg-warning"></i>
                      <span class="status">{% if i.is_completed == 'True' %}Complited{% else %}Not complited{% endif %}</span>
                    </span>
                  </td>
                  <td>
                    <div class="d-flex align-items-center">
                      <span class="completion mr-2">{{i.percent_net_profit}}%</span>
                      <div>
                        <div class="progress">
                          <div class="progress-bar bg-warning" role="progressbar" aria-valuenow="{{i.percent_net_profit}}" aria-valuemin="0" aria-valuemax="100" style="width: {{i.percent_net_profit}}%;"></div>
                        </div>
                      </div>
                    </div>
                  </td>
                  <td class="text-right">
                    <div class="dropdown">
                      <a class="btn btn-sm btn-icon-only text-light" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fas fa-ellipsis-v"></i>
                      </a>
                      <div class="dropdown-menu dropdown-menu-right dropdown-menu-arrow">
                        <a class="dropdown-item" href="{{i.get_absolute_url_profile}}">Deteils...</a>
                        <button onclick="deleteElement({{ i.id }})" class="dropdown-item button_delete" href="#" style='border: none; outline: none; color: #f5365c !important'>Delete</button>
                      </div>
                    </div>
                  </td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
         
          
        </div>
      </div>
    </div>

    {% include "myapp/includes/footer.html" %}

  </div>
   <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

  <script>
  function deleteElement(id) {
    fetch(`/delete_table/${id}/`, {
      method: 'DELETE',
      headers: {
        'X-CSRFToken': '{{ csrf_token }}',
      },
    })
    .then(response => {
      if (response.ok) {
          const elementDiv = document.querySelector(`div[data-id="${id}"]`);
          elementDiv.delete();
        // Обновите список элементов на странице или выполните другие необходимые действия
        // например, скрыть удаленный элемент с помощью JavaScript и CSS
      } else {
        console.error('Ошибка удаления элемента');
      }
    })
    .catch(error => {
      console.error('Произошла ошибка:', error);
    });
  }
  function getCookie(name) {
    const value = `; ${document.cookie}`;
    const parts = value.split(`; ${name}=`);
    if (parts.length === 2) return parts.pop().split(';').shift();
    }

  const deleteButtons = document.querySelectorAll('.button_delete');
  deleteButtons.forEach(button => {
    button.addEventListener('click', (event) => {
      console.log('hi')
      const elementDiv = event.target.closest('.table_element');
      const elementId = elementDiv.dataset.id;

      deleteElement(elementId);
    });
  });
</script>

{% endblock content %}

<!-- Specific JS goes HERE --> 
{% block javascripts %}{% endblock javascripts %}
