{% extends 'myapp/layouts/base-fullscreen.html' %}

{% block title %} Register {% endblock title %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
    <style type="text/css">
      #id_username_form, #id_password_form, #id_confirm_password_form, #id_email_form{
        border: none;
        background-color: transparent;
      }
    </style>
    <!-- Page content -->
    <div class="container mt--8 pb-5">
      <!-- Table -->
      <div class="row justify-content-center">
        <div class="col-lg-6 col-md-8">
        
          <div class="card bg-secondary shadow border-0">
            <div class="card-header bg-transparent pb-5">
              <div class="text-muted text-center mt-2 mb-4">
                Sign UP
              </div>
            </div>
            <div class="card-body px-lg-5 py-lg-5">


                <form method="POST">

                  {% csrf_token %}

                  {% for i in register_form %}
                  {% if i.label == 'username' %}
                  <div class="form-group">
                    <div class="input-group input-group-alternative mb-3">
                      <div class="input-group-prepend">
                        <span class="input-group-text"><i class="ni ni-hat-3"></i></span>
                      </div>
                      {{ i }}
                    </div>
                  </div>
                  <span class="text-error">{{ register_form.username.errors }}</span>
                  {% endif %}
                  {% if i.label == 'email' %}
                  <div class="form-group">
                    <div class="input-group input-group-alternative mb-3">
                      <div class="input-group-prepend">
                        <span class="input-group-text"><i class="ni ni-email-83"></i></span>
                      </div>
                      {{ i }}
                    </div>
                  </div>
                  <span class="text-error">{{ register_form.email.errors }}</span>
                  {% endif %}
                  {% if i.label == 'password' %}
                  <div class="form-group">
                    <div class="input-group input-group-alternative">
                      <div class="input-group-prepend">
                        <span class="input-group-text"><i class="ni ni-lock-circle-open"></i></span>
                      </div>
                      {{ i }}
                    </div>
                  </div>
                  <span class="text-error">{{ register_form.password1.errors }}</span>
                  {% endif %}
                  {% if i.label == 'confirm_password' %}
                  <div class="form-group">
                    <div class="input-group input-group-alternative">
                      <div class="input-group-prepend">
                        <span class="input-group-text"><i class="ni ni-lock-circle-open"></i></span>
                      </div>
                      {{ i }}
                    </div>
                  </div>
                  <span class="text-error">{{ register_form.password2.errors }}</span>
                  {% endif %}
                  {% endfor %}
                  <div class="row my-4">
                    <div class="col-12">
                      <div class="custom-control custom-control-alternative custom-checkbox">
                        <input class="custom-control-input" required id="customCheckRegister" type="checkbox">
                        <label class="custom-control-label" for="customCheckRegister">
                          <span class="text-muted">I agree with the <a href="#!">Privacy Policy</a></span>
                        </label>
                      </div>
                    </div>
                  </div>
                  <div class="text-center">
                    <button type="submit" class="btn btn-primary mt-4">Create account</button>
                  </div>
                </form>

  
            </div>
          </div>

        </div>
      </div>

      <div class="row mt-3">
        <div class="col-3"></div>
        <div class="col-3">
          <a href="{% url 'login' %}" class="text-light"><small>Login</small></a>
        </div>
        <div class="col-3 text-right">
          <a href="https://appseed.us/support" class="text-light"><small>Get Support</small></a>
        </div>
      </div>

    </div>
  </div>

{% endblock content %}

<!-- Specific JS goes HERE --> 
{% block javascripts %}{% endblock javascripts %}
